<!DOCTYPE html>
<html leng="es">

<head>
<title>Torneo de Futbol</title>
<link rel="stylesheet" href="css\estiloIndex.css">
</head>
<body>
	<header>
	<img id = "imagenCabeceraUno" src="css/images/imagenCabecera.png">
	<h1 id="textoCabecera">Torneo de Futbol</h1>
	<img id = "imagenCabeceraDos" src="css/images/imagenCabecera.png">
	
	</header>

	<hr/>
	<nav>

			<a href="index.html"><img id ="Home" src="css/images/button_home.png">
</a>


<p>
			<a href="posiciones.html"><img id ="Posiciones" src="css/images/button_posiciones.png">
</a>
</p>

<p>
			<a href="fotos.html"><img id ="Fotos" src="css/images/button_fotos.png">
</a>
</p>
<p>
			<a href="equipo.html"><img id ="Equipo" src="css/images/button_equipo.png">
</a>
</p>
		
	</nav>
	<hr/>

	<section>
		<article><p id="fechaActual">XX/XX/XXXX</p></article>
	</section>
	<hr/>
	<footer>
	<p><h4 id = "footerEscuela"> Desarrollada por: </h4>
	<li>Orlando Gelves</li>
	<p id= "footerEscuela">Escuela Colombiana de Ingeniería Julio Garavito</p>

	</footer>
	<script src="js/primerJavaScript.js"></script>
	<script src="js/menusJS.js"></script>

</body>
</html>