header{
	position:static;
	text-align:center;
	background-color:green;
	column-count:3;
	-webkit-column-count:3;
	column-gap: 20px;
}
body{
	background-image: url("images/fondo.jpg");
	background-color: #cccccc;
	align-items:center;
	display: inline-block;
   	text-align: center
}	

#imagenCabeceraUno{
	padding-top:20px;
	width:150px;
	height:150px;
}

#textoCabecera{
	color:white;
	font-size:55px;
	padding-top:70px;
}

#fechaActual{
	width:400px;
	background-color:green;
	color:white;
	font-weight:bold;
}

#imagenCabeceraDos{
	padding-top:20px;
	width:150px;
	height:150px;
	-moz-transform: scaleX(-1);
  	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
  	filter: FlipH;
  	-ms-filter: "FlipH";
}

nav{
	height: auto;
	vertical-align:middle;
	align-items:center;
	position:static;
	width:1200px;
	-webkit-position:static;
	column-count:4;
	-webkit-column-count:4;
	overflow: hidden;
	



}

li{
	background-color:white;
	width:190px;
}

footer{
	column-count:2;
	-webkit-column-count:2;
	column-gap: 20px;
}

#footerEscuela{
	font-size:20px;
	color:white;
}

